VITE_API_ENDPOINT=https://2cwzmxjszk.execute-api.us-east-1.amazonaws.com/dev/callers/latest
VITE_COGNITO_AUTHORITY=
VITE_COGNITO_HOSTED_UI_URL=
VITE_COGNITO_CLIENT_ID=
VITE_COGNITO_REDIRECT_URI=http://localhost:5173/
VITE_COGNITO_LOGOUT_URI=http://localhost:5173/
